* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* HEADER */
header {
  background-color: #000;
  height: 10vh;
  padding: 10px;
}

.linksHeader {
  color: burlywood;
}

/* MAIN */
main {
  min-height: 100vh;
  background-color: grey;
  display: flex;
}
#filtros {
  background-color: aqua;
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#formFiltros {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteFiltros {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
}

.cardAuto {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  border: 2px solid black;
  width: 22%;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTop button {
  margin-right: 5px;
}

.cardInfo {
  background-color: aqua;
  padding: 5px;
}

@media (max-width: 576px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  main {
    min-height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
  }

  #filtros {
    width: 100%;
    display: flex;
    height: 150px;
  }

  #formFiltros {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
  }

  #catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .cardAuto {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 1200px ){
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .linksHeader{
        font-size: 30px;
    }
    
    .cardAuto{
        justify-content: center;
        height: 300px;
    }

    .cardTop{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

    }

    .imgCard{
        width: 95%;   
    }
}
