* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#recuadro1 {
    transform: scale(0.8, 1.2);
    border-radius: 20px;
    background-color: #ddd;
    width: 200px;
    padding: 10px;
    margin: 50px;
}

#recuadro2 {
    transform: scale(1.2, -1);
    border-radius: 20px;
    background-color: #ddd;
    width: 200px;
    padding: 10px;
    margin: 50px;
}