* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#recuadro1 {
    transform: translate(-25px, -50px);
    border-radius: 20px;
    background-color: #ddd;
    width: 200px;
    padding: 10px;
    margin: 50px;
}

#recuadro2 {
    transform: translate(25px, 50px);
    border-radius: 20px;
    background-color: #ddd;
    width: 200px;
    padding: 10px;
    margin: 50px;
}