* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#recuadro1 {
    transform: rotate(45deg);
    transform-origin: left top;
    border-radius: 20px;
    background-color: #ddd;
    width: 200px;
    padding: 10px;
    margin: 50px;
}

#recuadro2 {
    transform: rotate(-45deg);
    transform-origin: 0% 50%;
    border-radius: 20px;
    background-color: #ddd;
    width: 200px;
    padding: 10px;
    margin: 50px;
}